@mixin relative {
    position: relative;
    width: 100%;
    height: 100%;
}

@mixin scrollBar {
    &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
    }
}

// 盒子模型背景图
@mixin backdrop($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
